<div style="display: flex;flex-direction: row">
  <app-calendar></app-calendar>

  <div class="fun-text-container">
    <div class="fun-text-title">
      Nostromo Scheduling Interface <br> <span>LV-426</span> Edition
    </div>
    <p class="fun-text">
      Managing your time as precisely as we manage our cargo. Stay ahead of the mission with real-time event tracking and deep-space scheduling.
      Every date, every task, logged and monitored.
      <br>
      Remember, <span>in space</span>, there's <span>no time to waste</span>.
    </p>

    <div class="fun-image-container">
      <img src="assets/icons/nostromo.png" alt="" width="300">
    </div>

    <div class="created-by">
      Created By Edgar Pachinsky, With love <span><mat-icon>favorite</mat-icon></span>
    </div>
  </div>
</div>
